body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #040A0A;
  color: #43FFD2;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a, input, button, textarea {
  font-family: inherit;
  color: inherit;
  background: inherit;
}

input::-ms-clear {
  display: none;
}

a, button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.btn_1, .btn_2 {
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 5px;
  -webkit-transition: background 0.2s, -webkit-transform 0.1s;
  transition: background 0.2s, -webkit-transform 0.1s;
  -o-transition: background 0.2s, transform 0.1s;
  transition: background 0.2s, transform 0.1s;
  transition: background 0.2s, transform 0.1s, -webkit-transform 0.1s;
}
.btn_1:active, .btn_2:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.btn_1.disabled, .btn_2.disabled {
  pointer-events: none;
  opacity: 0.3;
}
.btn_1 {
  color: #FFF;
  background: #7D2253;
}
@media (hover: hover) {
  .btn_1:hover {
    background: #D978AC;
  }
}
.btn_2 {
  background: rgba(67, 255, 210, 0.7);
  color: #040A09;
}
@media (hover: hover) {
  .btn_2:hover {
    background: #43FFD2;
  }
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  padding: 30px 0;
}
.header__container {
  position: relative;
}
.header__title {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 30px;
}
.header__sub-title {
  text-align: center;
  font-size: 18px;
}
.header__sub-title b {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
}
.header__language {
  display: none;
  position: absolute;
  right: 20px;
  top: 0;
}
.header__language span {
  -webkit-transition: max-width 0.3s;
  -o-transition: max-width 0.3s;
  transition: max-width 0.3s;
  vertical-align: bottom;
  display: inline-block;
  max-width: 0;
  overflow: hidden;
}
.header__language button {
  display: inline-block;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.header__language button:hover span {
  max-width: 100px;
}
.header__language button.active {
  text-decoration: underline;
}
.header__language button.active span {
  text-decoration: underline;
}

.works__title {
  text-align: center;
  font-size: 30px;
  margin: 0 0 30px;
  text-transform: uppercase;
}
.works__block-title {
  font-size: 24px;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.works__multipage {
  margin: 0 0 50px;
}
.works__landing, .works__multipage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px 5px;
}
@media (max-width: 1085px) {
  .works__block-title {
    text-align: center;
  }
  .works__landing, .works__multipage {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
}

.site {
  max-width: 350px;
  max-height: 200px;
  overflow: hidden;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  position: relative;
  padding: 0 0 30px;
}
.site__img {
  margin: 0 0 20px;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  position: relative;
}
.site__img img {
  width: 100%;
}
.site__img-phone {
  border-radius: 10px;
  overflow: hidden;
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 35%;
  z-index: 1;
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 10px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 10px rgba(0, 0, 0, 0.9);
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.site__btns {
  margin: 0 0 20px;
  width: 100%;
}
.site__btns a {
  margin: 0 0 10px;
}
.site dt {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 15px;
}
.site dt span {
  color: white;
  display: block;
  font-size: 14px;
  text-transform: lowercase;
}
.site dd {
  text-align: center;
  line-height: 130%;
}
.site:hover {
  max-height: 1000px;
  overflow: visible;
}
.site:hover .site__img-phone {
  opacity: 1;
  bottom: -10px;
  right: -100px;
}
.site:hover:nth-child(3n) .site__img-phone {
  right: 100%;
}
@media (max-width: 1085px) {
  .site:hover:nth-child(3n) .site__img-phone {
    right: -100px;
  }
  .site:hover:nth-child(even) .site__img-phone {
    right: 100%;
  }
}
@media (max-width: 750px) {
  .site:hover .site__img-phone {
    right: 0;
  }
  .site:hover:nth-child(3n) .site__img-phone {
    right: 0;
  }
  .site:hover:nth-child(even) .site__img-phone {
    right: 0;
  }
}
@media (max-width: 370px) {
  .site {
    max-height: 170px;
  }
}